<a href="https://colab.research.google.com/github/mannesampath/python/blob/main/DATASETS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/data/loan_data.csv")

In [91]:
# to view top rows
data.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [ ]:
data.head(10)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
5,21.0,female,High School,12951.0,0,OWN,2500.0,VENTURE,7.14,0.19,2.0,532,No,1
6,26.0,female,Bachelor,93471.0,1,RENT,35000.0,EDUCATION,12.42,0.37,3.0,701,No,1
7,24.0,female,High School,95550.0,5,RENT,35000.0,MEDICAL,11.11,0.37,4.0,585,No,1
8,24.0,female,Associate,100684.0,3,RENT,35000.0,PERSONAL,8.90,0.35,2.0,544,No,1
9,21.0,female,High School,12739.0,0,OWN,1600.0,VENTURE,14.74,0.13,3.0,640,No,1

In [93]:
# to view bottom rows
data.tail()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [ ]:
data.tail(10)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
44990,31.0,male,Master,136832.0,9,RENT,12319.0,PERSONAL,16.92,0.09,7.0,722,No,1
44991,24.0,male,High School,37786.0,0,MORTGAGE,13500.0,EDUCATION,13.43,0.36,4.0,612,No,1
44992,23.0,female,Bachelor,40925.0,0,RENT,9000.0,PERSONAL,11.01,0.22,4.0,487,No,1
44993,27.0,female,High School,35512.0,4,RENT,5000.0,PERSONAL,15.83,0.14,5.0,505,No,1
44994,24.0,female,Associate,31924.0,2,RENT,12229.0,MEDICAL,10.70,0.38,4.0,678,No,1
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [ ]:
#to find the no. of rows and columns
data.shape

(45000, 14)

In [ ]:
#to know only rows
data.shape[0]

45000

In [ ]:
# to know only columns
data.shape[1]

14

In [ ]:
# To know the complete information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

In [ ]:
# to find statistical description about numerical columns:
data.describe()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,45000.000000,4.500000e+04,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000
mean,27.764178,8.031905e+04,5.410333,9583.157556,11.006606,0.139725,5.867489,632.608756,0.222222
std,6.045108,8.042250e+04,6.063532,6314.886691,2.978808,0.087212,3.879702,50.435865,0.415744
min,20.000000,8.000000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,390.000000,0.000000
25%,24.000000,4.720400e+04,1.000000,5000.000000,8.590000,0.070000,3.000000,601.000000,0.000000
50%,26.000000,6.704800e+04,4.000000,8000.000000,11.010000,0.120000,4.000000,640.000000,0.000000
75%,30.000000,9.578925e+04,8.000000,12237.250000,12.990000,0.190000,8.000000,670.000000,0.000000
max,144.000000,7.200766e+06,125.000000,35000.000000,20.000000,0.660000,30.000000,850.000000,1.000000

In [ ]:
# location
data.iloc[5] #i = integer,loc = location

person_age                               21.0
person_gender                          female
person_education                  High School
person_income                         12951.0
person_emp_exp                              0
person_home_ownership                     OWN
loan_amnt                              2500.0
loan_intent                           VENTURE
loan_int_rate                            7.14
loan_percent_income                      0.19
cb_person_cred_hist_length                2.0
credit_score                              532
previous_loan_defaults_on_file             No
loan_status                                 1
Name: 5, dtype: object

In [ ]:
data.iloc[0:5]

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [ ]:
data.loc[2]

person_age                               25.0
person_gender                          female
person_education                  High School
person_income                         12438.0
person_emp_exp                              3
person_home_ownership                MORTGAGE
loan_amnt                              5500.0
loan_intent                           MEDICAL
loan_int_rate                           12.87
loan_percent_income                      0.44
cb_person_cred_hist_length                3.0
credit_score                              635
previous_loan_defaults_on_file             No
loan_status                                 1
Name: 2, dtype: object

In [ ]:
data.loc[4:60]

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
5,21.0,female,High School,12951.0,0,OWN,2500.0,VENTURE,7.14,0.19,2.0,532,No,1
6,26.0,female,Bachelor,93471.0,1,RENT,35000.0,EDUCATION,12.42,0.37,3.0,701,No,1
7,24.0,female,High School,95550.0,5,RENT,35000.0,MEDICAL,11.11,0.37,4.0,585,No,1
8,24.0,female,Associate,100684.0,3,RENT,35000.0,PERSONAL,8.90,0.35,2.0,544,No,1
9,21.0,female,High School,12739.0,0,OWN,1600.0,VENTURE,14.74,0.13,3.0,640,No,1
10,22.0,female,High School,102985.0,0,RENT,35000.0,VENTURE,10.37,0.34,4.0,621,No,1
11,21.0,female,Associate,13113.0,0,OWN,4500.0,HOMEIMPROVEMENT,8.63,0.34,2.0,651,No,1
12,23.0,male,Bachelor,114860.0,3,RENT,35000.0,VENTURE,7.90,0.30,2.0,573,No,1
13,26.0,male,Master,130713.0,0,RENT,35000.0,EDUCATION,18.39,0.27,4.0,708,No,1
14,23.0,female,Associate,138998.0,0,RENT,35000.0,EDUCATION,7.90,0.25,4.0,583,No,0
15,23.0,female,Master,600891.0,5,MORTGAGE,30000.0,DEBTCONSOLIDATION,10.65,0.05,3.0,670,Yes,0
16,23.0,male,Bachelor,144943.0,0,RENT,35000.0,EDUCATION,7.90,0.24,4.0,663,No,0
17,23.0,female,High School,111369.0,0,RENT,35000.0,MEDICAL,20.00,0.31,4.0,694,No,1
18,23.0,male,Bachelor,136628.0,0,RENT,35000.0,DEBTCONSOLIDATION,18.25,0.26,4.0,709,No,1
19,24.0,female,Master,14283.0,1,MORTGAGE,1750.0,EDUCATION,10.99,0.12,2.0,679,No,1
20,25.0,male,Bachelor,195718.0,0,RENT,35000.0,VENTURE,7.49,0.18,4.0,684,Yes,0
21,25.0,male,High School,165792.0,4,RENT,34800.0,PERSONAL,16.77,0.21,2.0,662,No,0
22,22.0,female,Master,79255.0,0,RENT,34000.0,EDUCATION,17.58,0.43,4.0,691,No,1
23,24.0,female,Bachelor,13866.0,0,OWN,1500.0,PERSONAL,7.29,0.11,3.0,600,Yes,0
24,22.0,male,Bachelor,97420.0,1,RENT,33950.0,PERSONAL,14.54,0.35,4.0,691,No,1
25,24.0,female,High School,82443.0,0,RENT,33000.0,HOMEIMPROVEMENT,12.68,0.40,3.0,654,No,1
26,21.0,female,Associate,14288.0,0,MORTGAGE,4575.0,VENTURE,17.74,0.32,3.0,626,No,1
27,23.0,male,High School,14293.0,0,OWN,1400.0,PERSONAL,9.32,0.10,3.0,607,No,0
28,24.0,female,Bachelor,79054.0,1,RENT,32500.0,HOMEIMPROVEMENT,9.99,0.41,3.0,700,No,1
29,21.0,female,Bachelor,14988.0,0,OTHER,4000.0,EDUCATION,12.84,0.27,2.0,553,No,1
30,21.0,male,High School,14858.0,0,OWN,2000.0,MEDICAL,11.12,0.13,3.0,589,No,1
31,25.0,male,Bachelor,144855.0,1,RENT,32000.0,VENTURE,6.62,0.22,2.0,586,Yes,0
32,26.0,male,Bachelor,114645.0,2,RENT,31050.0,HOMEIMPROVEMENT,14.17,0.27,3.0,681,No,1
33,25.0,female,High School,368115.0,3,RENT,24250.0,DEBTCONSOLIDATION,13.85,0.07,3.0,567,Yes,0
34,26.0,female,Associate,361076.0,1,MORTGAGE,7800.0,MEDICAL,13.49,0.02,4.0,669,No,0
35,21.0,male,Associate,15150.0,0,OWN,2500.0,EDUCATION,7.51,0.17,4.0,600,No,1
36,22.0,female,Bachelor,58868.0,0,RENT,30000.0,EDUCATION,18.39,0.51,2.0,606,No,1
37,24.0,male,High School,78026.0,3,RENT,30000.0,DEBTCONSOLIDATION,14.54,0.38,3.0,582,No,1
38,25.0,male,Bachelor,90785.0,4,RENT,30000.0,HOMEIMPROVEMENT,16.89,0.33,4.0,649,No,1
39,23.0,female,High School,86811.0,0,RENT,30000.0,DEBTCONSOLIDATION,11.01,0.35,4.0,602,No,1
40,26.0,male,Bachelor,75503.0,5,RENT,30000.0,MEDICAL,17.99,0.40,2.0,616,No,1
41,24.0,female,High School,15082.0,0,OWN,2500.0,VENTURE,12.69,0.17,3.0,631,No,1
42,26.0,male,Bachelor,361293.0,5,MORTGAGE,20000.0,VENTURE,7.88,0.06,4.0,684,Yes,0
43,23.0,male,High School,361547.0,0,OWN,24250.0,EDUCATION,19.41,0.07,2.0,637,Yes,0
44,26.0,male,Master,360680.0,5,OWN,10000.0,HOMEIMPROVEMENT,10.38,0.03,4.0,649,No,0
45,26.0,male,Bachelor,360977.0,5,MORTGAGE,25000.0,EDUCATION,15.33,0.07,3.0,695,Yes,0
46,25.0,female,Bachelor,361244.0,2,MORTGAGE,18000.0,HOMEIMPROVEMENT,16.45,0.05,3.0,620,No,0
47,26.0,male,Bachelor,98230.0,2,RENT,30000.0,PERSONAL,7.49,0.31,3.0,622,No,1
48,22.0,female,High School,80838.0,0,RENT,30000.0,MEDICAL,12.69,0.37,3.0,645,No,1
49,26.0,male,Master,107957.0,2,RENT,30000.0,DEBTCONSOLIDATION,6.62,0.28,3.0,654,No,1
50,24.0,female,Bachelor,94649.0,2,RENT,30000.0,DEBTCONSOLIDATION,11.01,0.32,4.0,624,No,1
51,23.0,male,High School,94550.0,1,RENT,30000.0,DEBTCONSOLIDATION,18.62,0.32,3.0,570,No,1
52,23.0,male,Bachelor,111153.0,3,RENT,30000.0,PERSONAL,15.23,0.27,3.0,648,No,1
53,23.0,female,Associate,117250.0,0,RENT,30000.0,VENTURE,10.65,0.26,2.0,652,No,1
54,25.0,male,Bachelor,144985.0,3,RENT,30000.0,EDUCATION,7.90,0.21,4.0,559,No,0
55,26.0,male,High School,337133.0,7,RENT,10000.0,PERSONAL,15.96,0.03,3.0,623,Yes,0
56,26.0,male,Associate,333566.0,2,RENT,20000.0,VENTURE,11.48,0.06,3.0,602,Yes,0
57,23.0,male,Bachelor,333399.0,1,OWN,35000.0,PERSONAL,11.01,0.10,4.0,609,No,0
58,25.0,male,Master,154793.0,1,RENT,30000.0,PERSONAL,7.29,0.19,4.0,573,Yes,0
59,24.0,male,Associate,15229.0,1,OWN,1750.0,VENTURE,11.01,0.11,3.0,631,Yes,0
60,21.0,female,Bachelor,158338.0,0,RENT,30000.0,VENTURE,5.99,0.19,4.0,623,Yes,0

In [ ]:
# check null values present or not

In [ ]:
data.isna()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
44999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
#To know is there any null values or not
data.isna().any()

person_age                        False
person_gender                     False
person_education                  False
person_income                     False
person_emp_exp                    False
person_home_ownership             False
loan_amnt                         False
loan_intent                       False
loan_int_rate                     False
loan_percent_income               False
cb_person_cred_hist_length        False
credit_score                      False
previous_loan_defaults_on_file    False
loan_status                       False
dtype: bool

In [ ]:
# to get the count of null values
data.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

In [ ]:
# To access single column from a dataset

In [ ]:
data["person_education"].head()

0         Master
1    High School
2    High School
3       Bachelor
4         Master
Name: person_education, dtype: object

In [ ]:
#to access double column

In [ ]:
data[["person_education","loan_amnt"]].head()

  person_education  loan_amnt
0           Master    35000.0
1      High School     1000.0
2      High School     5500.0
3         Bachelor    35000.0
4           Master    35000.0

In [ ]:
data[["person_education","loan_amnt"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   person_education  45000 non-null  object
 1   loan_amnt         45000 non-null  float64
dtypes: float64(1), object(1)
memory usage: 703.3+ KB

In [ ]:
# filter

In [ ]:
data[data["person_age"]>50].head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
81,144.0,male,Bachelor,300616.0,125,RENT,4800.0,VENTURE,13.57,0.02,3.0,789,No,0
183,144.0,male,Associate,241424.0,121,MORTGAGE,6000.0,EDUCATION,11.86,0.02,2.0,807,No,0
575,123.0,female,High School,97140.0,101,RENT,20400.0,EDUCATION,10.25,0.21,3.0,805,Yes,0
747,123.0,male,Bachelor,94723.0,100,RENT,20000.0,VENTURE,11.01,0.21,4.0,714,Yes,0
32297,144.0,female,Associate,7200766.0,124,MORTGAGE,5000.0,PERSONAL,12.73,0.00,25.0,850,No,0

In [ ]:
data[data["person_age"]<50].head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [80]:
data = pd.read_csv("/content/drive/MyDrive/data/loan_data.csv")

In [89]:
data1 = data[(data['person_gender']== 'female') & (data['person_education'] == 'Bachelor')]
print(data1)

       person_age person_gender person_education  person_income  \
3            23.0        female         Bachelor        79753.0
6            26.0        female         Bachelor        93471.0
23           24.0        female         Bachelor        13866.0
28           24.0        female         Bachelor        79054.0
29           21.0        female         Bachelor        14988.0
...           ...           ...              ...            ...
44967        28.0        female         Bachelor        34634.0
44968        30.0        female         Bachelor        62216.0
44970        26.0        female         Bachelor        84780.0
44975        23.0        female         Bachelor        58744.0
44992        23.0        female         Bachelor        40925.0

       person_emp_exp person_home_ownership  loan_amnt        loan_intent  \
3                   0                  RENT    35000.0            MEDICAL
6                   1                  RENT    35000.0          EDUCATION
23                  0                   OWN     1500.0           PERSONAL
28                  1                  RENT    32500.0    HOMEIMPROVEMENT
29                  0                 OTHER     4000.0          EDUCATION
...               ...                   ...        ...                ...
44967               3                  RENT     9529.0  DEBTCONSOLIDATION
44968               8              MORTGAGE    13042.0  DEBTCONSOLIDATION
44970               3                  RENT    25000.0          EDUCATION
44975               0                  RENT    16474.0            MEDICAL
44992               0                  RENT     9000.0           PERSONAL

       loan_int_rate  loan_percent_income  cb_person_cred_hist_length  \
3              15.23                 0.44                         2.0
6              12.42                 0.37                         3.0
23              7.29                 0.11                         3.0
28              9.99                 0.41                         3.0
29             12.84                 0.27                         2.0
...              ...                  ...                         ...
44967           8.15                 0.28                         5.0
44968          16.09                 0.21                         6.0
44970          14.26                 0.29                         5.0
44975           9.18                 0.28                         4.0
44992          11.01                 0.22                         4.0

       credit_score previous_loan_defaults_on_file  loan_status
3               675                             No            1
6               701                             No            1
23              600                            Yes            0
28              700                             No            1
29              553                             No            1
...             ...                            ...          ...
44967           654                             No            1
44968           587                             No            1
44970           641                             No            1
44975           679                             No            1
44992           487                             No            1

[6018 rows x 14 columns]

In [90]:
#stackoverflow we use to find the errors